.inputFilter {
    margin-top: 20px;
    margin-left: 50px;
    width: 250px;
    padding: 5px;
    border: 1px solid rgba(103, 21, 63, 0.8);;
    border-radius: 4px;
}

.inputFilter:focus {
    outline-color: rgba(103, 21, 63, 0.8);;
}

.contactsTitle {
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 0px;
}

.filterTitle {
    margin-left: 50px;
    margin-bottom: 0px;
}